// 修改菜单下拉按钮的样式
.arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  transition: all 0.6s;

  &.right {
    border-top: 2px solid #656565 !important;
    border-right: 2px solid #656565 !important;
    border-bottom: none !important;
    border-left: none !important;
    transform: rotate(135deg);
  }

  &.down {
    border-top: 2px solid #3eaf7c !important;
    border-right: 2px solid #3eaf7c !important;
    border-left: none !important;
    border-bottom: none !important;
    transform: rotate(-45deg);
    margin-bottom: -2px;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-corner {
  background: #179a16;
}

// 评论组件的样式
.txt-right {
  display: none !important;
}

.v {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;

  .vwrap {
    border: 1px solid #42b983 !important;

    .actived {
      fill: #42b983 !important;
    }

    .vnick:focus, .vmail:focus, .vlink:focus {
      border-bottom: 1px dashed #42b983 !important;
    }

    .vsubmit {
      &:hover {
        color: #42b983;
        border: 1px solid #42b983 !important;
      }
    }
  }
}